body {
    background-color:  white;
    position: relative;
    background-repeat:no-repeat;
    background-size:100% 100vh;
    
}

h1 {
    color: black;
    font-family: 'Rock 3D', sans-serif;
    font-size: 100px;
    font-weight: 400;
    margin-top: 240px;
    margin-bottom: 10px;
    text-align: center;
    animation: fadeInUp;
    animation-duration: 3s;
    


}

img {
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    margin-top: 250px;
    animation: fadeInUp 3s;
    
    
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    font-family: neue-haas-grotesk-display, sans-serif; 
    color: black; 
    text-align: center;
    padding-bottom: 20px;
    animation: fadeInUp;
    animation-duration: 3s;
    margin-top: 10px;

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid black;
  
}

a:hover {
    text-decoration: underline;
    
}

